<!DOCTYPE html>
<html>
<head>
  <title>Redirection App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h2>Redirection App</h2>
    </div>
    <form method=post action='/'>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter the link"  name="link"/>
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
  <script>
  </script>
</body>
</html>
